<!-- TODO: Header? -->
<div class="main-content">
    <h1>Active Polls</h1>
    <!-- This is an example of how you can render the polls on the page, you're welcome to keep it or change it if you wish. This page isn't fully complete though -->
    <ul id="polls">
        <% polls.forEach((poll) => { %>
            <li class="poll-container" id="<%= poll.id %>">
                <h2><%= poll.question %></h2>
                <ul class="poll-options">
                    <% for (let {answer, votes } of poll.options) { %>
                        <li id="<%= poll.id %>_<%= answer %>">
                            <strong><%= answer %>:</strong> <%= votes %> votes
                        </li>
                    <% } %>
                </ul>
                <form class="poll-form button-container">
                    <% for (let { answer } of poll.options) { %>
                        <button class="action-button vote-button" type="submit" value="<%= answer %>" name="poll-option">
                            Vote for <%= answer %>
                        </button>
                    <% } %>
                    <input type="text" style="display: none;" value="<%= poll.id %>" name="poll-id"/>
                </form>
            </li>
        <% }) %>
    </ul>
</div>
<script src="/frontend.js" type="application/javascript"></script>
</body>
</html>
